* {
    font-family: 'Courier New', Courier, monospace;
    
    margin: 0;
    padding: 0;
}

body {
    background-color: paleturquoise;
}

h2 {
    font-size: 14px;
    color: cadetblue;
    margin-bottom: 5px;
}

h3 {
    color: white;
}

input {
    border: none;
    color: paleturquoise;
}

input::placeholder {
    color: paleturquoise;
}

.container {
    margin: 15% 20%;
    padding: 10px;
    background-color: mintcream;
    border-radius: 15px;
    display: flex;
    height: 300px;
}

.selectedTip {
    background-color: aquamarine;
}

.appLeft {
    padding: 10px;
    padding-left: 5px;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.appRight {
    padding: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: teal;
    width: 50%;
}

.appRightLower {
    display: flex;
    justify-content: center;
}

.appRightUpper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.appRightUpperRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numbers {
    font-size: 35px;
    font-weight:bolder;
    color: aquamarine;

} 

.tip {
    border: none;
    font-size: 25px;
    width: 100px;
    height: 45px;
    padding: 5px;
    background-color: darkslategray;
    color: mintcream;
    border-radius: 5px;
    margin: 5px;

}

.tipAmount {
    margin-bottom: 30px;

}

.perPerson {
    margin-top: 10px;
}

.reset {
    color: teal;
    background-color: lightseagreen;
    width: 80%;
    justify-items: center;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-family: arial;
}

